.album-container{
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
}
.container-al{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
gap: 40px;
width: 900px;
margin-left: 150px;
margin-top: 50px;
}
.album{
	width: 200px;
	height: 200px;
	background: #fff;
	border-radius:10px ;
	cursor: pointer;
}
.album-block1{
	background-image: url(../img/Album1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block2{
	background-image: url(../img/Album2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block3{
	background-image: url(../img/Album3.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block4{
	background-image: url(../img/Album4.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block5{
	background-image: url(../img/Album5.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block6{
	background-image: url(../img/Album6.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block7{
	background-image: url(../img/Album7.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block8{
	background-image: url(../img/Album8.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block9{
	background-image: url(../img/Album9.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block10{
	background-image: url(../img/Album10.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block11{
	background-image: url(../img/Album11.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block12{
	background-image: url(../img/Album12.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block13{
	background-image: url(../img/Album13.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block14{
	background-image: url(../img/Album14.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}

.album-block15{
	background-image: url(../img/Album15.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	height: 200px;
	border-radius: 9px;
}
.name-album{
	color: #fff;
	text-align: center;
	margin-top: 10px;
}
.album:hover{
	opacity: .7;
	box-shadow: 3px 3px 0px 0px #ffffffd6;
}