.category-wrapper {
  position: relative;
  margin-bottom: 28px;
}

/* Кнопка */
.category-display {
  padding: 16px 22px;
  border-radius: 14px;
  background: linear-gradient(135deg, #5e22ce, #9774d8);
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;

  cursor: pointer;
  transition: 0.3s;
}
.category-display:hover {
  transform: translateY(-3px) scale(1.03);
}

/* Dropdown контейнер */
.category-dropdown {
  position: absolute;
  width: 100%;
  margin-top: 12px;
  max-height: 220px;       /* бир аз гана бийиктик */
  overflow-y: auto;        /* скрол категориялардын ичинде гана иштейт */
  scrollbar-width: thin;
  scrollbar-color: #a855f7 transparent;
  z-index: 10;
}

/* Chrome/Edge скрол стили */
.category-dropdown::-webkit-scrollbar {
	display: none;
}
.category-dropdown::-webkit-scrollbar-thumb {
		display: none;
}
.category-dropdown::-webkit-scrollbar-track {
		display: none;
}

/* Категориялардын тизмеси */
.category-list {
  background: #f5f3ff;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #e9d5ff;
}

/* Ар бир категория */
.category-row {
  padding: 12px;
  border-radius: 8px;
  background: #ede9fe;
  color: #4c1d95;
  transition: 0.25s;
}
.category-row:hover {
  background: #c4b5fd;
  transform: translateX(8px);
}






/*Адрес*/

.address-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.address-display {
  padding: 16px 22px;
  border-radius: 14px;
  background: linear-gradient(135deg, #5e22ce, #9774d8);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(147,51,234,0.4);
  transition: 0.3s;
}
.address-display:hover {
  transform: translateY(-3px) scale(1.03);
}

.address-dropdown {
  position: absolute;
  width: 100%;
  margin-top: 12px;
  max-height: 220px;       /* бир аз гана бийиктик */
  overflow-y: auto;        /* скрол ошол жерде гана иштейт */
  scrollbar-width: thin;
  scrollbar-color: #a855f7 transparent;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Chrome/Edge скрол */
.address-dropdown::-webkit-scrollbar {
  width: 6px;
}
.address-dropdown::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 10px;
}
.address-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.address-list {
  background: #f5f3ff;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #e9d5ff;
}

.address-row {
  padding: 12px;
  border-radius: 8px;
  background: #ede9fe;
  color: #4c1d95;
  transition: 0.25s;
}
.address-row:hover {
  background: #c4b5fd;
  transform: translateX(8px);
}
.address-row.active {
  background: #a855f7;
  color: #fff;
}