.skeleton {
  background: #e0e0e094; /* светлый серый цвет вместо темного */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

/* анимация "бегущая полоса" */
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.322),
    transparent
  );
  animation: loading 1.2s infinite;
}

@keyframes loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
