.card.skeleton-card {
  width: 100%; /* растянуть на всю ширину колонки */
  max-width: 300px; /* при желании ограничить максимальную ширину */
  background-color: #f0f0f0ad;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  animation: pulse 1.5s infinite;
}

/* Анимация пульсации */
@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.skeleton-img {
  width: 100%; /* растянуть изображение на всю ширину карточки */
  height: 150px;
  background-color: #ddddddad;
  border-radius: 8px 8px 0 0;
}

.skeleton-line {
  height: 12px;
  background-color: #ddd;
  border-radius: 4px;
  margin: 5px 10px;
}
.skeleton-line.short {
  width: 40%;
}

.skeleton-line.shorter {
  width: 30%;
}

.skeleton-line.long {
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* расстояние между карточками в колонке */
  flex: 1; /* колонки растягиваются одинаково */
  max-width: 300px; /* ограничение ширины колонки */
}
